@media screen and (min-width: 320px) {
    .bg-orange {
        background-color: #FFF5D6;
    }
    .bg-light-orange {
        background-color: #fff7f1;
    }
    .bg-light-blue {
        background-color: #EDEEFF;
    }
    .bg-light-grey {
        background-color: #c9d6f2;
    }
    .bg-grey {
        background-color: #F9F9F9;
    }
    .bg-grey-2 {
        background-color: #F3F4F8;
    }
    .bg-blue {
        background-color: #E6FBFF;
    }
    .grey-text {
        color: #B4B5B5;
    }
    .blue-text {
        color: #468CFD;
    }
    .common-flex {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .mission-wrapper {
        background-color: #ECFCFF;
        padding: 1rem 1.5rem 2rem;
        height: 100%;
    }
    .mission-wrapper .sub-image {
        flex: 1 0 5rem;
        max-width: 5rem;
    }
    .mission-wrapper .sub-content {
        flex: 1 0 100%;
        max-width: 100%;
    }
    .mission-wrapper .sub-content h5 {
        font-size: 1.15rem;
        font-weight: 600;
        text-transform: uppercase;
    }
    .service-card-wrapper {
        border-radius: 2.5rem;
    }
    .service-card-image, .service-card-content {
        flex: 1 0 100%;
        max-width: 100%;
    }
    .service-card-content h3 {
        font-size: 2.15rem;
    }
    .service-card-content p {
        font-size: 1.25rem;
    }
    .service-card-btn {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .service-card-btn .btn {
        font-size: 0.95rem;
        color: #fff;
        padding: .375rem 2rem;
        text-transform: uppercase;
    }
    .services > .col-12:nth-child(even) > .service-card-wrapper > .service-card-image {
        order: 1;
        margin-left: auto;
    }
    .service-card-btn > .btn:first-child, .services > .col-12 > .service-card-wrapper > .service-card-content {
        order: 2;
    }
    .creators-image {
        width: 40%;
        margin: 0 auto;
        padding: 1.25rem;
        border-radius: 50%;
        border-top-right-radius: 0;
        background-color: #ECF0F2;
        position: relative;
    }
    .creators-image:after {
        content: "";
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: #fff;
        border: 0.1rem solid #333;
    }
    .creators-image > .image-wrapper {
        border-radius: 50%;
        overflow: hidden;
    }
    .common-card, .common-card-content {
        border-radius: 0.5rem;
        overflow: hidden;
    }
    .common-card-content h4 {
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .avatar {
        width: 2rem;
    }
    .avatar + p {
        font-size: 0.95rem;
        width: calc(100% - 2rem);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .popular-courses .common-card {
        box-shadow: 2px 2px 2px 2px rgb(223 223 223);
    }
    .popular-courses .common-card-content {
        background-color: #fff;
        border-radius: 0;
    }
    .popular-courses .common-card-content .blue-text {
        font-size: 0.95rem;
    }
    
    .popular-courses .common-card-content h4 {
        font-size: 1.35rem;
    }
    .rating-block p {
        color: #848484;
        font-size: 0.85rem;
        text-transform: uppercase;
    }
    .rating-block img {
        max-width: 6rem;
    }
    .rating-block + p {
        font-size: 2.25rem;
    }
    .rating-block + p sup {
        font-size: 1.15rem;
    }
    .testimonial-wrapper {
        background-color: #273F52;
        padding: 1rem 2rem;
        border-radius: 0.7rem;
    }
    .testimonial-wrapper * {
        color: #fff;
    }
    .testimonial .common-title {
        text-transform: uppercase;
    }
    .testimonial-img {
        max-width: 13rem;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: -4rem;
        left: 0;
    }
    .testimonial-header {
        position: relative;
    }
    .testimonial-header-content {
        padding-top: 7rem;
    }
}

@media screen and (min-width: 576px) {
    
}

@media screen and (min-width: 768px) {
    .mission-wrapper .sub-content {
        flex: 1 0 calc(100% - 5rem);
        max-width: calc(100% - 5rem);
    }
    .service-card-image {
        flex: 1 0 35%;
        max-width: 35%;
    }
    .service-card-btn {
        display: block;
    }
    .mission-wrapper {
        padding: 1rem 1.5rem;
    }
    .creators-image {
        width: 50%;
    }    
    .testimonial-header-content {
        padding-top: 0;
        padding-left: 10rem;
        width: 100%;
    }
    .testimonial-header-content h4 {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

@media screen and (min-width: 992px) {    
    .service-card-content {
        flex: 1 0 65%;
        max-width: 65%;
    }
    .services > .col-12:nth-child(even) > .service-card-wrapper > .service-card-image {
        order: 2;
        margin: 0;
    }
}
@media screen and (min-width: 1200px) {    
    .creators-image {
        width: 90%;
    }
}
/* Login Css Start */
.login-wraper{
    display: -ms-flexbox !important;
    display: flex !important;
    height:100vh;
}
.login-info{
    width:35%;
    height:100%;
    background:#E6FBFF;
    padding:3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.login-info .content{
    text-align: center;
    color:#354144;
}
.login-wraper .login-info .content h3{
    font-size: 1.7rem;
    font-weight: bold;
}
.login-wraper .login-info img{
    max-width: 350px;
}
.login-form{
    width:75%;
    height:100%;
    padding:2rem 3rem;
}
.login-form.center{
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    padding-left: 15rem;
}
.login-form .sign-in h3{
    font-weight: 900;
    margin-bottom: 0;
}
.login-form .sign-in p{
    color: #CFCED4;
    font-weight: 600;
    margin-bottom: 2.2rem;
}
.login-form .sign-in p a{
    padding-left: 0.2rem;
    color: #4AC0E0;
    opacity: 1;
    text-decoration: none;
}
.login-form.center .sign-in{
    width: 350px;
}
.login-form .form-group{
    position: relative;
}
.login-form .form-group label{
    font-weight: 600;
    font-size: 0.9rem;
}
.login-form .form-group .form-control{
    background: #F2F6F9;
    border: 0;
    border-radius: 0.5rem;
    font-size: 0.9rem;
    height: 2.5rem;
}
.login-form .form-group .form-control:focus{
    box-shadow: none;
}
.login-form .forget-password {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.9rem;
    color: #A8A8A8;
    font-weight: 600;
}
.login-form .btn{
    color: #fff;
    padding: 0.4rem 1rem;
    font-size: 0.9rem !important;
    background-color: #02AEEC;
    background-image: linear-gradient(to right, #00CAFD , #02AEEC);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:2rem
}
.login-form .btn span {
    padding-left: 3rem;
}
.login-form .btn span img{
    width: 0.8rem;
}
.phone-number .number {
    display: flex;
}
.phone-number .number select{
    width: 5rem;
}
.phone-number .number input{
    margin-left: 0.5rem;
}
.login-form .calender {
    position: relative;
}
.login-form .calender img {
    position: absolute;
    top: 0.6rem;
    right: 0.9rem;
    width: 1.2rem;
}
.login-user {
    display: flex;
}
.login-user .item{
    height: 8rem;
    border: 2px solid #CFCED4;
    width: 8rem;
    border-radius: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 0.8rem;
}
.login-user .item.active{
    border-color: #4AC0E0;
}
.login-user .item.active .tick{
    position: absolute;
    width: 1rem;
    height: 1rem;
    background: #4AC0E0;
    top:0.5rem;
    right: 0.5rem;
    z-index: 3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-user .item.active .tick:before{
    content:"✓";
    color: #fff;
    font-size: 0.6rem;
}
.login-user .item img{
    width:3rem;
}
.login-user .item input[type="radio"]{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}
.login-user .item p{
    margin:0;
    color:#354144;
    font-weight: 600;
}
.login-user .item input[type="radio"]:checked+div.tick {
    width:10px;
    height: 10px;
    background: #00CAFD;
    border-radius: 50%;
}
select{
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    position: relative;
}
.select{
    position: relative;
}
.select:before{
    content: "";
    background-image: url(../img/login/icon-down.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    width: 0.7rem;
    height: 0.7rem;
    right: 0.7rem;
    top: 1rem;
    z-index: 1;
}
.sign-in.container-fluid{
    padding:0;
}
/* Login Css End*/
@media screen and (max-width: 991px) {
    .login-wraper .login-info img {
        max-width: 100%;
    }
    .login-form.center{
        padding-left: 3rem;
    }
}
@media screen and (max-width: 767px) {
    .login-wraper{
        display: block !important;
        height:auto;
    }
    .login-info,.login-form{
        width:100%;
        padding: 2rem 1rem;
    }
    .login-wraper .login-info img.center-img{
        display: none;
    }
    .login-form.center{
        display: block !important;
        padding-left: 1rem;
    }
    .login-form.center .sign-in {
        width: 100%;
    }
    .login-info .content{
        margin-top:2rem;
    }
}